@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(0,0,0,0);
}

main{
  padding: 1rem;
}

::-webkit-scrollbar {
  display: none;
  width: 1rem;
}

::-webkit-scrollbar-button:no-button {
}
::-webkit-scrollbar-track-piece {
  background-color: darkgray;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255);
}

