.MainFrame{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
    align-items: center;
}
.Title{
    text-align: center;
    flex: 1;
}
.Content{
    display: flex;
    flex-direction: row;
    flex:4;
}
.ConnectMethod{
    margin: 1.5rem;
    flex:1;
    border: black solid;
    padding: 1rem;
    border-radius: 1rem;
}

.ConnectBtn{
    font-weight: bold;
    background-color: rgba(20,200,50,0.3);
    border-radius: 1rem;
    box-shadow: 0.1rem 0rem 0.1rem 0.1rem;
    border: none;
    padding: 1rem;
    margin: 1rem;
    word-break: keep-all;
}
.ConnectContent{
    font-weight: bold;
    word-break: break-all;
}